body {
    width: 33%;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
    margin: 0px;
}

.buttonDigit {
    background-color: lightgreen;
    color: brown;
    width: 25%;
    height: 36px;
    font-size: 18PX;
    margin: 0px;
    float: left;
}

.Menu {
    background-color: darkgreen;
    color: white;
    width: 25%;
    height: 36px;
    font-size: 18PX;
    margin: 0px;
    float: left;
}

.Operators {
    background-color: black;
    color: red;
    width: 25%;
    height: 36px;
    font-size: 18PX;
    margin: 0px;
    float: left;
}